* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner {
    background-image: url(assets/banner.jpg);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.banner-header {
   margin: auto;
}

.banner-header-title {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 24px;
    background-color: #597445;
    padding: 6px 24px;
    border-radius: 6px;
    align-self: center;
}

article {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 900px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

article h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: #597445;
}

article footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

article button {
    font-size: 16px;
    color: white;
    background-color: #597445;
    padding: 12px 6px;
    border-radius: 6px;
    text-align: center;
    width: 200px;
}

article button:hover{
    background-color: #445a33;
    cursor: pointer;
}

article ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #2b2c2b;
}

@media (max-width: 980px) {
   article {
    width: 80%;
   }
}

